{% extends 'global/Page.html' %}

{% block content %}


<div style="text-align: center;">
    <h1>Final Earnings</h1>
    <p>Your role: <strong>{{ role }}</strong></p>
    <p>Round {{ round_number }} of {{ num_rounds }}</p>

    {% if selected_round %}
        <p>Round <strong>{{ selected_round }}</strong> was selected for payment.</p>
        <p>You earned <strong>{{ selected_round_earnings }} ECUs</strong> in that round.</p>
    {% else %}
        <p>Payment round not yet determined.</p>
    {% endif %}
</div>


    <!-- Right-Aligned Next Button -->
    <div style="text-align: right;">
        {{ next_button }}
    </div>
</form>

{{ block styles }}
    <style>
        .input-group, input.form-control, select.form-control {
            max-width: 150px;
        }

   .otree-timer {
        background-color: transparent !important;
        color: black !important;
        font-weight: normal;
        border: none;
        padding: 0;
        text-align: right;
    }
    </style>

{{ endblock }}

{% endblock %}
